<header>
    <div class="logo">
        <svg viewBox="0 0 500 70">
            <use xlink:href="#logo" x="0" y="0" width="500" height="70"></use>
        </svg>
    </div>
    <a class="logo-d" href="https://www.datasilk.io" target="_blank" /><img src="/images/logo-D-xs.png" title="Datasilk" /></a>
</header>
<div class="sidebar">
    <ul class="menu">
        <li class="root item-books row hover">
            <a href="javascript:">
                <span class="col icon small pad-width">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-book" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </span>
                <span>Books</span>
            </a>
            <span class="col right icon small pad-width-sm">
                <a href="javascript:" class="btn-newbook" title="Create a new Book">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </span>
        </li>
        {{books}}
        <li class="root item-tags row hover">
            <a href="javascript:">
                <span class="col icon small pad-width">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-tag" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </span>
                <span>Tags <span class="faded pad-left-sm">({{tags-count}})</span></span>
            </a>
        </li>
        <li class="root item-trash row hover">
            <a href="javascript:">
                <span class="col icon small pad-width">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-trash" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </span>
                <span>Trash <span class="count faded pad-left-sm">({{trash-count}})</span></span>
            </a>
        </li>
    </ul>

    <div class="logo-feather">
        <svg viewBox="0 0 64 64">
            <use xlink:href="#icon-feather" x="0" y="0" width="64" height="64"></use>
        </svg>
    </div>
</div>
<div class="subbar {{no-books}}">
    <div class="entries">
        {{entries}}
    </div>
    <div class="tags hide"></div>
    <div class="trash hide"></div>
</div>
<div class="editor {{no-entries}}">
    <div class="row message hide absolute margin"><span></span></div>
    <div class="markdown-editor">
        <textarea id="editor">{{editor-content}}</textarea>
    </div>
</div>
{{no-content}}
{{templates}}
