header{width:100%; padding:9px; display:block; line-height:0; height:50px;
    svg{width:100% !important; height: auto !important;}
    .logo{float:left; width:200px; padding:2px 0 0 10px;}
    .logo-feather{float:left; width:33px;}
    .logo-d{float:right; margin:1px 20px 0 0;
        img{height:30px; opacity:0.2}
    }
}

.sidebar{float:left; height:~"calc(100% - 50px)"; width:250px; line-height:1.5;
    ul.menu {padding:10px;
        li.row{padding:7px; margin:3px 0;}
    }
    ul.menu{
        li.root > a{font-size:17px;}
        li.sub{padding-left:40px;}
    }
    .logo-feather{position:absolute; bottom:0px; left:50px; width:150px; opacity:0.05;
        svg{width:100% !important; height: auto !important;}
    }
}

.subbar{float:left; height:~"calc(100% - 50px)"; width:350px; line-height:1.5;
    .no-entries{width:100%; text-align:center; padding:20px;}
    .entry{border-bottom:1px solid transparent;}
}
.box .addentry{ position:relative; top:-4px;
    .button.circle.large{padding:10px;}
}

.no-books{float:left; width:~"calc(100% - 250px)"; text-align:center; }
.no-entries{float:left; width:~"calc(100% - 600px)"; text-align:center; }

#txtentry_summary{height:70px;}

.editor{ height:~"calc(100% - 50px)"; width:~"calc(100% - 600px)"; float:left; position:relative;
    .markdown-editor{overflow:hidden;}
    .CodeMirror{overflow:auto !important; height:100%; border-radius:0px !important; border-left-style:none; border-right-style:none; border-bottom-style:none;}
    .CodeMirror-scroll{height:~"calc(100% - 59px)" !important; overflow:auto !important; overflow-y:auto; margin-right:-10px !important; top:-10px;}
    .CodeMirror-code{box-sizing:content-box;}
    .CodeMirror-vscrollbar{display:none !important;}
    .editor-statusbar{display:none;}
    .editor-preview{overflow-y:auto; height:~"calc(100% - 48px)" !important;}
    .editor-toolbar{border:0px none transparent !important; border-radius:0px !important;
        *:nth-child(1n+18){float:right;}
    }
    & > .message{width:97%; z-index:100; margin-top:10px !important;}
    .hljs{display:inline-block; padding:4px 7px !important; position:relative; top:8px;}
}

.editor-toolbar.disabled-for-preview{
    a, .separator:nth-child(-n+17){opacity:0.1;}
    a.no-disable{opacity:1;}
}