[submodule "App/Scripts/selector"]
	path = App/Scripts/selector
	url = http://github.com/websilk/selector
[submodule "App/CSS/tapestry"]
	path = App/CSS/tapestry
	url = http://github.com/websilk/tapestry
[submodule "App/Core"]
	path = App/Core
	url = http://github.com/datasilk/core
[submodule "App/Utility/Crypto"]
	path = App/Common/Utility/Crypto
	url = http://github.com/datasilk/Crypto
[submodule "App/Utility/--force"]
	path = App/Utility/--force
	url = http://github.com/datasilk/Crypto
[submodule "App/Scripts/platform"]
	path = App/Scripts/platform
	url = https://github.com/datasilk/corejs
