<div class="row chapter pad nowrap">
    <div class="col icon size-sm pad-right-sm pad-top-xs">
        <svg viewBox="0 0 32 32">
            <use xlink:href="#icon-files" x="0" y="0" width="32" height="32"></use>
        </svg>
    </div>
    <div class="col wrap pad-right-xs"><h5>{{chapter}}</h5></div>
    <div class="col right pad-right-sm pad-top-xs hide">
        <a href="javascript:" onclick="S.chapters.create.view()" class="icon small" title="Add a new Chapter">
            <svg viewBox="0 0 32 32">
                <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
            </svg>
        </a>
    </div>
</div>