<div class="interface">
    <header>
        <div class="content">
            <div class="logo"><img src="/images/logo.png" /><div>{{title}}</div></div>
            <nav>
                <ul>
                    {{login}}<li><a href="/login" class="dark">Log in</a></li>{{/login}}
                    {{logout}}<li><a href="/logout" class="dark">Log Out</a></li>{{/logout}}
                </ul>
            </nav>
            <nav>
                <ul>
                    {{item-1}}<li><a href="/search">Search</a></li>{{/item-1}}
                    {{item-2}}<li><a href="/subjects">Subjects</a></li>{{/item-2}}
                    {{item-3}}<li><a href="/topics">Topics</a></li>{{/item-3}}
                    {{item-4}}<li><a href="/articles">Articles</a></li>{{/item-4}}
                    {{item-5}}<li><a href="/feeds">Feeds</a></li>{{/item-5}}
                    {{item-6}}<li><a href="/downloads">Downloads</a></li>{{/item-6}}
                    {{item-7}}<li><a href="/analyzer">Analyzer</a></li>{{/item-7}}
                    {{item-8}}<li><a href="/neurons">Neurons</a></li>{{/item-8}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="content dashboard">
        <div class="row pad-bottom">{{menu}}</div>
        <div class="row pad-bottom">
            <div class="section">
                {{content}}
            </div>
        </div>
    </div>
</div>