<script type="text/html" id="template_newentry">
    <div class="row message hide"><span></span></div>
    <form method="post">
        <div class="row field">Title</div>
        <div class="row input hover">
            <input type="text" id="txtentry_title" placeholder="A New Entry" />
        </div>
        <div class="row field">Summary</div>
        <div class="row input hover">
            <textarea id="txtentry_summary" placeholder="A short description about this new entry" maxlength="255" />
        </div>

        <div class="row field">Chapter
            <div class="col right icon small pad-right-sm">
                <a href="javascript:" onclick="S.entries.create.newChapter()" title="Create a new Chapter">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row input hover">
            <select id="lstentry_chapter"></select>
            
        </div>
        <div class="row pad-top text-center">
            <input type="submit" class="button apply" value="Create Entry" />
        </div>
    </form>
</script>