header {
  width: 100%;
  padding: 9px;
  display: block;
  line-height: 0;
  height: 50px;
}
header svg {
  width: 100% !important;
  height: auto !important;
}
header .logo {
  float: left;
  width: 200px;
  padding: 2px 0 0 10px;
}
header .logo-feather {
  float: left;
  width: 33px;
}
header .logo-d {
  float: right;
  margin: 1px 20px 0 0;
}
header .logo-d img {
  height: 30px;
  opacity: 0.2;
}
.sidebar {
  float: left;
  height: calc(100% - 50px);
  width: 250px;
  line-height: 1.5;
}
.sidebar ul.menu {
  padding: 10px;
}
.sidebar ul.menu li.row {
  padding: 7px;
  margin: 3px 0;
}
.sidebar ul.menu li.root > a {
  font-size: 17px;
}
.sidebar ul.menu li.sub {
  padding-left: 40px;
}
.sidebar .logo-feather {
  position: absolute;
  bottom: 0px;
  left: 50px;
  width: 150px;
  opacity: 0.05;
}
.sidebar .logo-feather svg {
  width: 100% !important;
  height: auto !important;
}
.subbar {
  float: left;
  height: calc(100% - 50px);
  width: 350px;
  line-height: 1.5;
}
.subbar .entries > .list {
  float: left;
}
.subbar .entries .container {
  position: relative;
}
.subbar .entries .scrolled {
  position: relative;
}
.subbar .entries:after {
  content: '';
  display: block;
  clear: both;
}
.subbar .scroller {
  position: relative;
  float: right;
  background-color: rgba(0, 0, 0, 0.05);
  width: 10px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 7px;
}
.subbar .scrollable {
  overflow: hidden;
}
.subbar .scrollable .scroller {
  display: none;
}
.subbar .scrollable:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.subbar .scrollable.scroll .items {
  float: left;
  width: 224px;
}
.subbar .scrollable.scroll .item {
  padding-right: 8px;
}
.subbar .scrollable.scroll .scroller {
  display: block;
}
.subbar .scrollable.scroll > .list {
  width: calc(100% - 10px);
}
.subbar .scrollbar {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  width: 10px;
  min-height: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.subbar .no-entries {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.subbar .entry {
  float: left;
  border-bottom: 1px solid transparent;
}
.subbar .entry .summary {
  line-height: 1.25 !important;
  opacity: 0.75;
}
.box .addentry {
  position: relative;
  top: -4px;
}
.box .addentry .button.circle.large {
  padding: 10px;
}
.no-books {
  float: left;
  width: calc(100% - 250px);
  text-align: center;
}
.no-entries {
  float: left;
  width: calc(100% - 600px);
  text-align: center;
}
#txtentry_summary {
  height: 70px;
}
.editor {
  font-family: 'Roboto Mono', monospace;
  height: calc(100% - 50px);
  width: calc(100% - 600px);
  float: left;
  position: relative;
}
.editor .markdown-editor {
  overflow: hidden;
}
.editor .CodeMirror {
  overflow: auto !important;
  line-height: 1.5;
  height: 100%;
  border-radius: 0px !important;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
.editor .CodeMirror-scroll {
  height: calc(100% - 59px) !important;
  overflow: auto !important;
  overflow-y: auto;
  margin-right: -10px !important;
  top: -10px;
}
.editor .CodeMirror-code {
  box-sizing: content-box;
}
.editor .CodeMirror-vscrollbar {
  display: none !important;
}
.editor .editor-statusbar {
  display: none;
}
.editor .editor-toolbar {
  border: 0px none transparent !important;
  border-radius: 0px !important;
}
.editor .editor-toolbar *:nth-child(1n+18) {
  float: right;
}
.editor > .message {
  width: 97%;
  z-index: 100;
  margin-top: 10px !important;
}
.editor .hljs {
  display: inline-block;
  padding: 4px 7px !important;
  position: relative;
  top: 8px;
}
.editor-preview {
  font-family: 'Lora', Georgia, sans;
  overflow-y: auto;
  height: calc(100% - 48px) !important;
  line-height: 1.25;
}
.editor-preview h1 {
  font-size: 58px;
  padding-bottom: 15px;
}
.editor-preview h2 {
  font-size: 46px;
  padding-bottom: 10px;
}
.editor-preview h3 {
  font-size: 40px;
  padding-bottom: 5px;
}
.editor-preview h4 {
  font-size: 32px;
}
.editor-preview h5 {
  font-size: 26px;
}
.editor-preview h6 {
  font-size: 22px;
}
.editor-preview p,
.editor-preview li {
  font-size: 20px;
  line-height: 1.5;
}
.editor-preview ul {
  padding-left: 20px;
}
.editor-preview li {
  padding-bottom: 10px;
}
.editor-toolbar.disabled-for-preview a,
.editor-toolbar.disabled-for-preview .separator:nth-child(-n+17) {
  opacity: 0.1;
}
.editor-toolbar.disabled-for-preview a.no-disable {
  opacity: 1;
}
