@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?190xou');
  src: url('/fonts/icomoon.eot?190xou#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?190xou') format('truetype'), url('/fonts/icomoon.woff?190xou') format('woff'), url('/fonts/icomoon.svg?190xou#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: sans-serif;
}
/* fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
  font-weight: bold;
}
a.dark:link {
  color: #666666;
}
a.dark:hover {
  color: #666666;
  text-decoration: none;
}
a.dark:active {
  color: #666666;
  text-decoration: none;
}
a.dark:visited {
  color: #666666;
}
a.dark.red:hover {
  color: #ff0000;
  text-decoration: none;
}
a.dark.red:active {
  color: #ff0000;
  text-decoration: none;
}
/* global */
.fade {
  opacity: 0.6;
}
span.info {
  font-size: 14px;
  color: #aaa;
  line-height: 1;
}
/* Interface */
.interface {
  width: 100%;
}
.interface > header {
  width: 100%;
  background-color: #2095C1;
  color: #fff;
  padding: 10px 0;
  clear: both;
  position: relative;
  margin: 0 auto;
  height: 30px;
}
.interface > header .logo {
  float: left;
  white-space: nowrap;
}
.interface > header .logo > img {
  display: inline;
  position: relative;
  top: 2px;
  padding: 0 10px 0 0;
}
.interface > header .logo > div {
  display: inline;
  font-size: 20px;
}
.interface > header nav {
  float: right;
}
.interface > header nav ul {
  list-style-type: none;
  white-space: nowrap;
  padding-top: 5px;
}
.interface > header nav ul > li {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
}
.interface > header nav ul > li a:hover {
  text-decoration: underline;
}
.interface > header a {
  text-decoration: none;
}
.interface > header a:link {
  color: #fff;
}
.interface > header a:visited {
  color: #fff;
}
.interface > header a:hover {
  color: #fff;
}
.interface > header a:active {
  color: #fff;
}
.row.title {
  font-size: 22px;
  line-height: 1;
}
.row.subtitle {
  font-size: 17px;
  color: #999;
  padding-bottom: 15px;
  line-height: 1;
}
.row.label {
  padding: 15px 0 4px 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
}
.row.label:nth-child(1) {
  padding: 0 0 4px 0;
}
.row.options {
  background-color: #e0e0e0;
  padding: 10px 20px 8px 20px;
}
/* topic contents */
.topic-section img {
  max-width: 100%;
}
/* dashboard */
.dashboard {
  padding-top: 15px;
}
.dashboard .menu > nav {
  float: right;
}
.dashboard .menu > nav ul {
  list-style-type: none;
  white-space: nowrap;
}
.dashboard .menu > nav ul > li {
  display: inline-block;
  padding: 0 10px;
}
.dashboard .section {
  margin: 0px;
}
/* icomoon font icons //////////////////////////////////////////////////////////////////////////////////////////////////   */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-warning2:before {
  content: "\e002";
}
.icon-message:before {
  content: "\e0c9";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-text_format:before {
  content: "\e165";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-access_time:before {
  content: "\e192";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-public:before {
  content: "\e80b";
}
.icon-school:before {
  content: "\e80c";
}
.icon-share:before {
  content: "\e80d";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-star:before {
  content: "\e838";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-star_outline:before {
  content: "\e83a";
}
.icon-alarm:before {
  content: "\e855";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-bookmark2:before {
  content: "\e866";
}
.icon-bookmark_outline:before {
  content: "\e867";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_outline:before {
  content: "\e87e";
}
.icon-highlight_remove:before {
  content: "\e888";
}
.icon-language:before {
  content: "\e894";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-all_inclusive:before {
  content: "\eb3d";
}
.icon-mail:before {
  content: "\e003";
}
.icon-server:before {
  content: "\e022";
}
.icon-cog2:before {
  content: "\e023";
}
.icon-search2:before {
  content: "\e036";
}
.icon-zoom-in2:before {
  content: "\e037";
}
.icon-zoom-out2:before {
  content: "\e038";
}
.icon-reply:before {
  content: "\e039";
}
.icon-circle-plus:before {
  content: "\e040";
}
.icon-circle-minus:before {
  content: "\e041";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-square-plus:before {
  content: "\e044";
}
.icon-square-minus:before {
  content: "\e045";
}
.icon-square-check:before {
  content: "\e046";
}
.icon-square-cross:before {
  content: "\e047";
}
.icon-globe:before {
  content: "\e078";
}
.icon-reload:before {
  content: "\e080";
}
.icon-share3:before {
  content: "\e081";
}
.icon-ban:before {
  content: "\e107";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross2:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-file:before {
  content: "\e124";
}
.icon-file-add:before {
  content: "\e125";
}
.icon-file-subtract:before {
  content: "\e126";
}
.icon-open:before {
  content: "\e128";
}
.icon-ellipsis:before {
  content: "\e129";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-image:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e902";
}
.icon-headphones:before {
  content: "\e903";
}
.icon-music:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-film:before {
  content: "\e906";
}
.icon-connection:before {
  content: "\e907";
}
.icon-mic:before {
  content: "\e908";
}
.icon-book:before {
  content: "\e909";
}
.icon-books:before {
  content: "\e90a";
}
.icon-file-empty:before {
  content: "\e90b";
}
.icon-files-empty:before {
  content: "\e90c";
}
.icon-file-text2:before {
  content: "\e90d";
}
.icon-file-picture:before {
  content: "\e90e";
}
.icon-file-music:before {
  content: "\e90f";
}
.icon-file-play:before {
  content: "\e910";
}
.icon-file-video:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e912";
}
.icon-stack:before {
  content: "\e913";
}
.icon-folder:before {
  content: "\e914";
}
.icon-folder-open:before {
  content: "\e915";
}
.icon-folder-plus:before {
  content: "\e916";
}
.icon-folder-minus:before {
  content: "\e917";
}
.icon-price-tag:before {
  content: "\e918";
}
.icon-price-tags:before {
  content: "\e919";
}
.icon-coin-dollar:before {
  content: "\e91a";
}
.icon-coin-euro:before {
  content: "\e91b";
}
.icon-coin-pound:before {
  content: "\e91c";
}
.icon-coin-yen:before {
  content: "\e91d";
}
.icon-phone:before {
  content: "\e91e";
}
.icon-location:before {
  content: "\e91f";
}
.icon-map:before {
  content: "\e920";
}
.icon-clock:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-printer:before {
  content: "\e923";
}
.icon-download:before {
  content: "\e924";
}
.icon-upload:before {
  content: "\e925";
}
.icon-floppy-disk:before {
  content: "\e926";
}
.icon-database:before {
  content: "\e927";
}
.icon-undo2:before {
  content: "\e928";
}
.icon-redo2:before {
  content: "\e929";
}
.icon-bubble:before {
  content: "\e92a";
}
.icon-bubbles:before {
  content: "\e92b";
}
.icon-user:before {
  content: "\e92c";
}
.icon-users:before {
  content: "\e92d";
}
.icon-quotes-left:before {
  content: "\e92e";
}
.icon-quotes-right:before {
  content: "\e92f";
}
.icon-search:before {
  content: "\e930";
}
.icon-zoom-in:before {
  content: "\e931";
}
.icon-zoom-out:before {
  content: "\e932";
}
.icon-lock:before {
  content: "\e933";
}
.icon-unlocked:before {
  content: "\e934";
}
.icon-equalizer:before {
  content: "\e935";
}
.icon-cog:before {
  content: "\e936";
}
.icon-stats-dots:before {
  content: "\e937";
}
.icon-fire:before {
  content: "\e938";
}
.icon-lab:before {
  content: "\e939";
}
.icon-bin:before {
  content: "\e93a";
}
.icon-bin2:before {
  content: "\e93b";
}
.icon-switch:before {
  content: "\e93c";
}
.icon-list-numbered:before {
  content: "\e93d";
}
.icon-list:before {
  content: "\e93e";
}
.icon-list2:before {
  content: "\e93f";
}
.icon-tree:before {
  content: "\e940";
}
.icon-upload2:before {
  content: "\e941";
}
.icon-earth:before {
  content: "\e942";
}
.icon-link:before {
  content: "\e943";
}
.icon-flag:before {
  content: "\e944";
}
.icon-attachment:before {
  content: "\e945";
}
.icon-bookmark:before {
  content: "\e946";
}
.icon-bookmarks:before {
  content: "\e947";
}
.icon-contrast:before {
  content: "\e948";
}
.icon-star-empty:before {
  content: "\e949";
}
.icon-star-half:before {
  content: "\e94a";
}
.icon-star-full:before {
  content: "\e94b";
}
.icon-heart:before {
  content: "\e94c";
}
.icon-man:before {
  content: "\e94d";
}
.icon-woman:before {
  content: "\e94e";
}
.icon-happy:before {
  content: "\e94f";
}
.icon-smile:before {
  content: "\e950";
}
.icon-sad:before {
  content: "\e951";
}
.icon-grin:before {
  content: "\e952";
}
.icon-cool:before {
  content: "\e953";
}
.icon-angry:before {
  content: "\e954";
}
.icon-evil:before {
  content: "\e955";
}
.icon-baffled:before {
  content: "\e956";
}
.icon-neutral:before {
  content: "\e957";
}
.icon-wondering:before {
  content: "\e958";
}
.icon-frustrated:before {
  content: "\e959";
}
.icon-crying:before {
  content: "\e95a";
}
.icon-warning:before {
  content: "\e95b";
}
.icon-cross:before {
  content: "\e95c";
}
.icon-checkmark:before {
  content: "\e95d";
}
.icon-play3:before {
  content: "\e95e";
}
.icon-pause2:before {
  content: "\e95f";
}
.icon-stop2:before {
  content: "\e960";
}
.icon-infinite:before {
  content: "\e961";
}
.icon-arrow-up2:before {
  content: "\e962";
}
.icon-arrow-right2:before {
  content: "\e963";
}
.icon-arrow-down2:before {
  content: "\e964";
}
.icon-arrow-left2:before {
  content: "\e965";
}
.icon-circle-down:before {
  content: "\e966";
}
.icon-sort-alpha-asc:before {
  content: "\e967";
}
.icon-sort-alpha-desc:before {
  content: "\e968";
}
.icon-sort-numeric-asc:before {
  content: "\e969";
}
.icon-sort-numberic-desc:before {
  content: "\e96a";
}
.icon-sort-amount-asc:before {
  content: "\e96b";
}
.icon-sort-amount-desc:before {
  content: "\e96c";
}
.icon-filter:before {
  content: "\e96d";
}
.icon-bold:before {
  content: "\e96e";
}
.icon-underline:before {
  content: "\e96f";
}
.icon-italic:before {
  content: "\e970";
}
.icon-strikethrough:before {
  content: "\e971";
}
.icon-text-color:before {
  content: "\e972";
}
.icon-table2:before {
  content: "\e973";
}
.icon-paragraph-left:before {
  content: "\e974";
}
.icon-paragraph-center:before {
  content: "\e975";
}
.icon-paragraph-right:before {
  content: "\e976";
}
.icon-paragraph-justify:before {
  content: "\e977";
}
.icon-indent-increase:before {
  content: "\e978";
}
.icon-indent-decrease:before {
  content: "\e979";
}
.icon-share2:before {
  content: "\e97a";
}
.icon-twitter:before {
  content: "\e97b";
}
.icon-rss:before {
  content: "\e97c";
}
.icon-youtube:before {
  content: "\e97d";
}
