<script type="text/html" id="template_noentries">
    <div class="no-entries pad-lg">
        <h3>You haven't created any entries yet.</h3>
        <p>Once you start writing a new entry in your book, you can use markdown to create headers, bullet lists, and even blocks of source code with syntax highlighting!</p>
        <div class="row pad-height text-center">
            <a href="javascript:" class="button circle large btn-newentry" title="Create a new Entry">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-add" x="0" y="0" width="32" height="32"></use>
                </svg>
            </a>
        </div>
    </div>
</script>